.rsvpbox {
  border: 1px solid #ccc ;
  padding: 1em;
  margin-top: 4px;
}
.rsvpbox .box {
  margin: 0px;
  padding-bottom: 0px;
}
.rsvpbox .box .content {
  margin-bottom: 0px;
}
.rsvpbox .box .title {
  margin-bottom: .5em;
}
.rsvpbox .box .title a {
  font-size: 1em;
}
.rsvpbox .header {
  margin: .5em;
  font-weight: bold;
}
.rsvppreviewbox .title {
  font-weight: bold;
}
.rsvppreviewbox .box {
  margin-bottom: 14px;
}
.rsvpmailstatus {
  margin: 7px 0 7px 0;
}
.rsvpmailstatus .success {
  border: solid 1px #ccc;
  padding: 7px;
}
.rsvpmailstatus .failed {
  border: solid 1px #c00;
  padding: 7px;
}

.rsvpreplybox {
  padding-left: 7px;
}

.rsvpactionbox {
  padding-left: 7px;
}
